html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

html, * {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	transition: background 250ms ease-in-out;
	background: transparent;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
}

body {
	padding: 20px;
	font-size: 14px;
	background: #F9F9F9;
	color: #444444;
}

a {
	border-bottom: 1px dashed;
	text-decoration: none;
}

a[href] {
	color: #2699bf;
	border: none;
}

a[href]:hover {
	color: #33CCFF;
	text-decoration: underline;
}

ul {
	margin: 0.5em 0;
	padding-left: 2em;
}

ul li {
	padding-top: 3px;
	padding-bottom: 3px;
}

h1 {
	font-size: 50px;
	color: #28c3f4;
	line-height: 1.2em;
	margin: 0;
    font-weight: bold;
    text-shadow: 0.01em 0.01em 0.02em rgba(0, 0, 0, 0.4);
}

h2 {
	font-size: 24px;
    font-weight: bold;
	margin: 2em 0 0.3em;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 2em 0 0.3em;
}

h4 {
	font-size: 16px;
	font-weight: normal;
	margin: 2em 0 0.3em;
}

.markdownIt-TOC,
.markdownIt-TOC ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.markdownIt-TOC a {
	display: block;
    padding: 0.3em 1em 0 1em;
}

.markdownIt-TOC ul a {
    padding: 0.2em 1em 0 2em; 
}

.markdownIt-TOC ul ul a {
    padding: 0.1em 1em 0 3em; 
}

.markdownIt-TOC a:hover {
	text-decoration: none;
}

.footnotes-sep {
	margin-top: 60px;
}

.footnote-ref a {
	margin: -0.5em;
	padding: 0.5em;
}

main {
	width: 1000px;
	padding-left: 350px;
	margin: 0 auto;
}

kbd {
    background: #f9f9f9;
    border-color: #ddd #bbb #bbb #ddd;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 2px;
    font-size: 0.85em;
    padding: 1px 3px;
    white-space: nowrap;
    font-family: monospace,Courier;
}

.markdownIt-TOC {
    position: fixed;
    width: 300px;
    overflow: hidden;
    left: 0;
    left: calc(50% - 500px);
    font-size: 14px;
}

a.markdownIt-Anchor {
    color: #888888;
}

.highlight {
	background: rgba(255, 153, 34, 0.5);
}

.notice {
	color: #999999;
}

/** fix highlightjs **/
.hljs {
	display: inline-block;
	vertical-align: middle;
	padding: 0.1em 0.5em;
}
pre .hljs {
	display: block;
	padding: 0.5em;
}

/** changes on small screens **/
@media screen and (max-width: 1000px) {
	body {
		padding: 60px 15px 15px;
	}
	.markdownIt-TOC {
		display: none;
	}
}
